<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="javascripts/handlers.js"></script>

    
    
  </head>
  <body>
    <div class="header">

      <h1>Welcome</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam maximus mauris sit amet purus fermentum rhoncus Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam maximus mauris sit amet purus fermentum rhoncus  </p>









    </div>


    <div class="container-main">
      

        <img id="logo" src="images/logo.png" alt="Flowers in Chania"> 
  
  
      
      
      <h2 id="title">Please, select your business</h2>
      <hr>
      
      <div class="container-buttons">
        

        <% data.forEach((elem,i) => {%>
          
        
         
          <div class="select-button" data-pk="<%= i %>"href="#">
            <div style="justify-content: center;display: grid;">
            <p style="color: #24355a;"><%= elem.Name %></p>
            
            <img src="images/cup.png" style="width: 67px;">
          </div>
          </div>
        
        



      
          <% }) %>

      </div>

      <div class="container-questions">
        <div id="money">
          <img  src="images/hand.png" style="width: 40px;" alt="Flowers in Chania"> 
  
            <p>></p>
          </div>
        <div id="text"class="field-wrap">
          <img style="width: 30px; position: relative; top: 31px;"src="images/seta.png" alt="" >
          <input type="text" id="answer" name="" value="">
          


        </div>
        <div id="drop"class="field-wrap ">
          <img style="width: 30px; position: relative; top: 31px;"src="images/seta.png" alt="" >
          <select name="times-month" id="times-month">
            <option value="">Select a value</option>
          </select>
          


        </div>
        <div class="button" id="next" href="#">Next</div>
        <div id="container-cur"> 
          <img style="height:50px;width: 50px; "src="images\exclamation-point.png" alt="" >
          
          
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur numquam nam eligendi velit modi, voluptas veritatis aliquam, voluptatibus eum quod ut, quas culpa hic omnis eius commodi sequi vel repudiandae?</p>
        </div>
      </div>
      <div id="container-results" > 
        <div class="results" style="">
        <div class="result" style="margin-right: 20px;">
          <h4>Customers value per year</h4>
          <div class="div-result">
           
          <p id="value-y"></p>
            
          </div>
            
          
        </div>

        <div class="result" style="margin-left: 20px;">
          <h4>Life value of your customer is </h4>
          
          <div class="div-result">

            <p id="value-life"></p>

          </div>
          
          
        </div>
        
        
        
      </div>
      <div style=" display:flex; align-items: center;">

        <div class="button" id="back" href="#">Go Back</div>
        </div>

      </div>


    </div>

  </body>
  <script>


  let answers=[]

  let questionNumber=0;
  let selected
  var array=<%-JSON.stringify(data)%>;
 
  var questions=<%-JSON.stringify(questions)%> 
  console.log(questions);

  
  
  
  $(".select-button").click(function() {
    selected=array[parseInt($(this).data('pk'))];
    $("#money p").text(selected.money+" $");
    question(questions[questionNumber]);
    $("#revenue").val(selected.money)
    $('.container-questions').toggle();
    $('.container-buttons').toggle();

    });


  </script>
</html>